
/* top jumbo */

.jumbo-1{
    background-image: url("../img/jumbo-bg.png ");
    background-position: top center;
    color: white;
}

.jumbo-1-top{
    border: 3px solid white;
}

.jumbo-col{
    padding-top: 25px;
    padding-bottom: 10px;
}

.jumbo-1-top img{
    padding-top: 250px;
    max-width: 100%;
    width: 250px;
}

.jumbo-1-top a{
    background-color: rgb(255, 72, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}


/*  */
/* select game */

.box-game{
    max-height: 100%;
    max-width: 100%;
    border: 2px solid red;
}