/*  */

.txt-cntr{
    text-align: center;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}


.blue-ps{
    color: #0072ce;
}

.gray-txt{
    color: rgb(90, 90, 90);
}

.bordo{
    border: 2px solid violet;
}

.flex{
    display: flex;
}

/* nav */

.sony{
    background-color: black;
    color: white;
    text-align: right;
}

.sony h4{
    margin-right: 15px;
}

#navbarDropdown{
    color: black;
    font-size: 15px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    position: sticky;
    top: 0;
}

.play-logo{
    margin-right: 15px;
}

/* top jumbo */

.jumbo-1{
    background-image: url("../img/jumbo-bg.png ");
    background-position: top center;
    background-size: cover;
    color: white;
}

.jumbo-col{
    padding-top: 10px;
    padding-bottom: 25px;
}

.jumbo-1-top img{
    padding-top: 250px;
    max-width: 100%;
    width: 250px;
}

.jumbo-1-top a{
    background-color: rgb(255, 72, 0);
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

/*  */
/* select game */

.box-game{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-bottom: 5px;
}

.box-mini-games{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.box-mini-games:hover{
    border: 2px solid #0072ce;
}

.box-mini-games-inner{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.box-mini-games img{
    width: 100%;
}

/* playstation 5 */

.container-playstation-5{
    margin-top: 100px;
}

.blue-button{
    background-color: #0072ce;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.ps5-thumb{
    width: 100%;
    margin-top: 20px;
}

.thumb{
    width: 100%;
}

.thumb-div:hover{
    border: none;
    border-bottom: 2px solid #0072ce;
}

/* it takes two */

.jumbo-2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top center;
    background-size: cover;
    padding: 50px;
    margin-top: 50px;
    color: white;
}

.it-takses{
    width: 250px;
    max-width: 100%;
}

.orange-button{
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

/* dark gray games selection */

.big-gray{
    background-color: rgb(34, 34, 34);
    color: white;
    padding-top: 50px;
}

.box-game-2{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-bottom: 5px;
}

.box-mini-game-2{
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

.big-gray, .box-game-2 p{
    font-size: 20px;
}

/* espora ps4 */

.esplora-ps4{
    margin-top: 50px;
}

.esplora-ps4 img{
    width: 100%;
}

/* light gray */

.light-gray{
    margin-top: 50px;
    background-color: #bebcbb;
}

.ps-plus-thumb{
    width: 50%;
}

.plus-games{
    width: 100%;
}

.plus-button{
    background-color: #fff;
    color: #0072ce;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* playstation store */

.playstation-store{
    margin-top: 50px;
    margin-bottom: 50px;
}

.playstation-store img{
    width: 100%;
    cursor: pointer;
}

/* playstation now */

.dark-blue{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #161c3b;
    color: white;
}

.ps-now-thumb{
    width: 50%;
}

/* social */

.social{
    margin-top: 50px;
    margin-bottom: 50px;
}

.social img{
    width: 100%;
    margin-bottom: 50px;
    cursor: pointer;
}

/* footer */

footer{
    background-color: #00439c;
    color: white;
    padding-top: 100px;
}

.ps-footer-logo{
    width: 100px;
    max-width: 100%;
    margin-bottom: 50px;
    cursor: pointer;
}

.globe-thumb{
    width: 25px;
    max-width: 100%;
    margin-right: 25px;
    cursor: pointer;
}

footer ul{
    list-style: none;
}

.sie-logo{
    width: 100px;
}

.part-sie{
    display: flex;
    flex-direction: column;
}